<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <ThrowUnobservedTaskExceptions enabled="false" />
    <gcServer enabled="true" />
    <gcConcurrent enabled="true" />
  </runtime>
  <connectionStrings>
    <clear />
    <add name="AdoNetConnectionString"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=master;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
</configuration>